body{
    background-image: url(./imagens/tst2.jpg);
    text-align: center;
}
.git{
    width: 100px;
    height: 100px;
    border-radius: 300px;
}
.lnk{
    width: 100px;
    height: 100px;
    border-radius: 300px;
}
.me{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0.5%;
    top: 13%;
    
}
.nn{
    text-align: start;
    font-family: monospace;
    color: white;

}
.abt{
    text-align: center;
    color: white;
    font-family: monospace;

}

.lng{
    text-align: end;
    margin: 1%;
    color: white;
    font-family: monospace;
}
.ht{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 1%;
    top: 20%;

}
.cs{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 9%;
    top: 20%;

}
.inst{
    width: 100px;
    height: 100px;
    border-radius: 300px;
}